*.swp
*.dep.inc
*.o
*.out

project-review.aux
project-review.bbl
project-review.blg
project-review.dvi
project-review.log
/linearSolvers/build/
/linearSolvers/dist/
/linearSolvers/nbproject/
/linearSolvers/output/

